.Shopping {
    display: inline-lock;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;  
    font-family: sans-serif;
    letter-spacing: 5px;
    margin: 10px;
};

.NoItem{
display: flex;
flex-direction: column;
align-items: center;
}

thead{
    font-size: 15px !important;
    font-family: serif !important;
}