body{
    margin: 0;
    overflow: hidden;
}

.Container{
    margin: 0em !important;
}

.customCont{
    background-color: #F6EDE6;
    height: 90vh;
}


img{
margin-top: 12vh;
margin-bottom: 10vh;
}

h1,h2,h3,h4,p{
    font-family: initial;
    font-weight: 100;
    font-family: 'sans-serif';
    letter-spacing: 5px;    
}

.centrado{
margin-top: 45%;

}


button{
    letter-spacing: 5px;
    font-family: 'sans-serif';
}